<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<base th:href="@{/}"><!-- 不用base就使用th:src="@{/js/jquery.min.js} -->
<meta charset="UTF-8">
<title>购物车页面</title>
	<style>
		table{
			text-align: center;
		}
		 body{
			 background-image: url("http://localhost:8082/images/201910280135559860.jpg");
			 background-size: 100%;
		 }
	</style>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<script src="js/jquery.min.js"></script>
	<script src="../layui/layui.js"></script>
<script type="text/javascript">
	function deleteCartById(cartId){
		if(window.confirm("确认删除吗？")){
			window.location.href = "deleteCartById?cartId=" +  cartId;
		}
	}
	function clearCart(){
		if(window.confirm("确认清空吗？")){
			window.location.href = "clearCart";
		}
	}
	function count(){
		$.get("checkCount",function (data){
			if(data.code==200){
				window.location.href="count";
			}else {
				layer.msg(data.message);
			}
		},"json");
	}
</script>
</head>
<body>
<div th:include="reception/header"></div>
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">购物车列表</h3>
		</div>
		<div class="panel-body">
			<div class="table table-responsive">
				<table class="table table-bordered table-hover" text-align="center">
					<tbody class="text-center">
						<tr>
							<th>商品信息</th>
							<th>商品名称</th>
							<th>单价（元）</th>
							<th>数量</th>
							<th>小计</th>
							<th>操作</th>
						</tr>
						<tr th:each="cart:${carts}">
							<td>
								<a  th:href="@{/goodsDetail(id=${cart.goodsId})}" >
								<img th:src="'images/' + ${cart.goods.goodsPicture}"
									style="height: auto; width: 20%;justify-content: center;align-items: center;">
								</a>
							</td>
							<td th:text="${cart.goods.goodsName}"></td>
							<td th:text="${cart.goods.goodsRuPrice}"></td>
							<td th:text="${cart.nums}"></td>
							<td th:text="${cart.goods.goodsRuPrice}*${cart.nums}"></td>
							<td>
								<a th:href="'javascript:deleteCartById('+ ${cart.cartId} +')'">删除</a>
							</td>
						</tr>
						<tr>
							<td colspan="5">
							<font style="color: #a60401; font-size: 13px; font-weight: bold; letter-spacing: 0px;">
								购物金额总计(不含运费) ￥&nbsp;<span th:text="${total}"></span>元
							</font>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<a th:href="'javascript:clearCart()'">清空购物车</a>
							</td>
						</tr>
						<tr>
							<td colspan="5">
								<a th:href="'javascript:count()'">去结算</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>